body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(101, 150, 132);
    line-height: 40px;
}

.yoga{
  background-color:    rgb(101, 150, 132) ;
  line-height: 40px;
}

* {
  box-sizing:border-box;
}

.thema{
  font-size: 20px;
  text-align: left;
  margin: 20px;
  line-height: 40px;

}

.infozuselbstliebe{
  font-size: 15px;
  text-align: left;
  margin:20px;
  line-height: 30px;
  margin-top: 10px;
  line-height: 40px;
}

.intention{
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  line-height: 40px;

}



.annika
{
  font-size: 15px;
  text-align:left;
  line-height: 30px;
  margin:  150px auto;
  width: 80%;
  padding: 50px;
  line-height: 40px;
  background-color: rgb(101, 150, 132);;
}

.aline{
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  margin:  150px auto;
  width: 80%;
  padding: 50px;
  line-height: 40px;
  background-color:rgb(101, 150, 132) ;

}

.selbstliebe{
  border: 2px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 150px 50px;


}

.thema{
  border: 4px solid #000;
  border-radius: 5px;
  padding: 15px 50px 50px;


}


.intention{
  border: 5px solid #000;
  border-radius: 5px;

}

.secondworkshop {
  justify-content: center;
  align-items: flex-end;
  padding: 15px 150px 50px;
  border: 2px solid #000;
  border-radius: 5px;

}

.textkunsttherapie{
  font-size: 20px;
  text-align: left;
  margin: 20px;
  line-height: 40px;

}

.textannika p {
  margin: auto;
  padding-right: 350px;
  line-height: 40px;
}
.aline img{
  float:left; 
  width: 300px;
  height: 400px;
  padding: 0 0 20px 0;
}
.textaline{
  margin: 0px;
  padding-right: 50px;
  line-height: 40px;

}

.annika img{
  float: right;
  width: 300px;
  height: 400px;
  padding: 1px 20px 30px 10px;
}

.container{
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}

.button{
  display:flex;
  flex-direction: column;
}

.btn{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
}

/*Button 1*/
.btn-1 {
  background: #000;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s ease;

}

btn-1::after,.btn-1::before{
  content:"";
  position: absolute;
  opacity: 0.2;
  background: black;
  border-radius:inherit ;
  width: 100%;
  height: 100%;
  left:0;
  bottom:0;
  z-index: -1;
  transition: transform 0.3 ease;
}

.btn-a:hover {
  transform: translate(-12px, -12px)  

}

.btn-1:hover::after {
  transform: translate(6px, 6px) 

}
.btn-1:hover::before {
  transform: translate(12px, 12px) 

}

  head{
    padding: 0;
    margin: 0;
    size: 20px;
  }
  
  header {
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    letter-spacing: 100px;
    background-color: rgb(101, 150, 132);
  }
  header h1 {
    margin-left: auto;
    color: #fffefe;
    background-color:  rgb(101, 150, 132);
    justify-content: center;
  
  }


  
  #titel {
    display: contents;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 1200px;
    margin-bottom: 24px;
    font-size: xx-large;
    font-family: "Staatliches";
    letter-spacing: 10px;
    font: 600px;
    background-color: rgb(101, 150, 132);
  }
  .mitte {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:999;
    margin-left: 175px;
    margin-top: 0;
  }
  
  .unten{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 100px;
    height: 50px;
    color: white;
    text-align: left;
    display: flex;

  }
  .yoga{
    background-color: rgb(101, 150, 132);
  }


  .oberste{
    background-color: rgb(117, 178, 124);
    height: 50px;
    color: white;
    text-align: left;
    display: flex;
  }
  

  

  #teaser {
    width: 100%;
    height: 300px;
  }
  #teaser img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    background-color: #7d8498;
  
  
  }
.wasser{
  background-image:url(Wasser.jpg) ;
}
  
.flies{
  background-image: url(fliesen.jpg);
}

body{
  height: 100%;
}

html{
  height: 100%;
}



  
.yogart{
  color: #030303;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("fliesen.jpg");
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-size: 80vw;
  text-transform: uppercase;

}



@media screen and (max-width: 650px){
  .flies{
    display: contents;
    size: 100%;
    margin: 0%;
    position: absolute;
  }
  .wasser{
    display: contents;
    margin: 0;
    position: absolute;
  }
  .yogart{
    display: inline-block;
    padding: auto;
    margin: 0;
    width: auto;
    position: absolute;
  }

  .yogart h1 font{
    font-display: auto;
  }
.More {
  display: contents;
}

.yoga{
  display: contents;
}

.more p{
  display: contents;
  width: fit-content;
}
  .h1{
    display: fit-content;
    width: 500px;
  }

  .h2{
    width: fit-content;
  }

  .h3{
    display: ;
  }
  .coron{
   display: inline-block;
   justify-content: center;
   align-items: center;
   background-color: rgb(101, 150, 132);
   display: flex;
   justify-content: center;
   align-items: center;
   width: auto;

  }

  .buttons{
    width: 30px;
    max-width: fit-content;
    display:-moz-groupbox;

  }
  .container{
    display: contents;
    padding: 0;
    margin: 0;
    size-adjust: center;
  }
  section {
    display: inline-block;
    width: 600px;
    padding: 5px;
   
  }

  section p {
    display: contents;
    position: absolute;
  }

  
  body{
    background: none;
  }
  .mitte{
    display: contents;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:999;
    margin: auto;
  }
  .buttons a{
    display: inline-block;
    block-size: auto;
  }

  .button a .btn-1{
    display: none;
  }
  .textannika p{
    display: contents;
  }

  .textaline{
    display: contents;
  }
  .annika img {
    display: none;
  }

  .aline img {
    display: none;
  }
  .faq_body{
    display: contents;
    background-color: #274e3e;
    }
  .head{
    display: contents;
    background-color: #274e3e;
  }
  .secondworkshop{
    display: contents;
  }
  .quoteselbstliebe{
    display: contents;
  }

  .selbstliebe{
    display: contents;
  }
  .infozuselbstliebe{
    display: contents;
    
  }
}


@media only screen and (max-width: 800px) {
  body {
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(101, 150, 132);  
  }
  section .menubar{
    display: none;
  }
  .menubutton{
    display: none;
  }

}
  header nav ul h2 {
    display: contents;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  header nav ul h2 li {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
  
  }
  
  footer ul,
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #817d63;
  
  }



  
  footer ul li a,
  nav ul li a {
    padding: 24px;
    font-size: normal;
    border-bottom: 50px solid transparent rgb(42, 32, 32);
    transition: border-bottom 0.5s;
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
  }
  footer ul li a,
  nav ul li a:hover {
    border-bottom: 1px solid transparent rgb(101, 150, 132);
    color: #fafafa;
  }
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
  section {
    max-width: 1000px;
    color: #010101;
    backdrop-filter: blur(60px);
    background-color: rgb(178, 192, 186);
    padding: 50px;
    margin: 60px;
    margin-left: 180px;
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 40px;


  }





  @media(max-width: 700px) {
    section{
      max-width: 100%;
    }
    .yogart{
      max-width: max-content;
    }
  }


  @media (max-width: 800px){
    section{
      max-width: fit-content;
      padding:0;
      margin: 0;
    }
  }

  .textaline{
    width: 60%;
    margin-left: 350px;
  }
 

  .aline{
    margin-bottom: 0;
  }

  .obenplatz {
    display: contents;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: opx;
    background-color: rgb(101, 150, 132);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

  
  }

   section button {
    background-color: #83d2a4;
    border: none;
    color: rgb(22, 21, 21);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }
  
  .home{
    display: contents;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: opx;
    background-color: rgb(101, 150, 132);
    border-color: antiquewhite;

  }

  .coron{
    display: contents;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(101, 150, 132);
    display: flex;
    justify-content: center;
    align-items: center;



  }


  
  section h1{
    color:#171616;
    padding: 60px;
    margin: auto;
    background-position: 100%;
    background-color: rgb(12, 12, 12);
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1000px;
    font-family: "Staatliches";
    letter-spacing: 50px;
  }

  .rahmenimg{
    width: 40vw;
    height: 40vw;
    overflow: hidden;

  }


  

  .textlayout{
    width: 40vw;
    height: 40vw;
    background-color: #000000;
    color: #fafafa;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rahmenimg img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }

  @media(min-height:600px){
    .rahmenimg img:hover{
      transform:scale(1.5);
    }
  }

.flexlayout{
  display:flex;
  justify-content: center;
}

  section h2{
    color:#000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 10px;

  }

  section h3{
    color: #000000;  
  }

  section h4{
    color: #000000;
  }


  .home{
    margin-top: 1000px;
  }




 .faq_body, .head{
  max-width: 1000px;
  margin-left: 180px;
}

.head{
  text-align: center;
  padding: 20px 0px;
  background: #274e3e;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Rubik";
 }


.faq_body{
  background-color:rgb(178, 192, 186);
  border-radius: 10px;
  padding: 30px 20px;
}

summary{
  background-color: rgb(178, 192, 186);
  padding: 20px 30px;
  border-radius: 10px;
  margin: 15px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

summary:hover{
  background-color: #e6e3e3;
}

details[open=""] > summary{
  background-color: #e6e3e3;
}

details div{
  background-color:rgb(178, 192, 186);
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 2;
  margin-bottom: 40px;
}
 
